<%- include('partials/header') %>
    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>
                <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></a>
               
            </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->

    </div>
    <br><br><br>
        
        <div class="page-content inset">
               <h1> Hello there! Please sign in.</h1>
               <br><br>
            <a href="/auth/google">
                <img src="public/images/google_signin.png">
            </a>
        </div>
    </div>
<%- include('partials/footer') %>